body {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: row;
}

#sectionA {
	background: blue;
	width: 33%;
}
#sectionB {
	background: red;
	width: 33%;
}
#sectionC {
	background: green;
	width: 33%;
}
