/* your code here */

h1 { grid-area: h1; }
header { grid-area: header; }
nav { grid-area: nav; }
section { grid-area: section; }

.wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr 6fr;
	gap: 10px 10px;
	grid-auto-flow: row;
	grid-template-areas:
	  "h1 h1"
	  "header header"
	  "nav section";
  }

  h1, header, nav, section {text-align: center;}
  
/**************************************
DON'T CHANGE ANYTHING AFTER THIS LINE
**************************************/

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2980b9;
	color: #fff;
	font-family: Helvetica;
	text-align: center;
	margin: 0;
}

header,
nav,
section {
	border: 1px solid rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	border-radius: 3px;
}

header {
	padding: 10px 0;
}

nav,
section {
	padding: 100px 0;
}
